.row
  .span10
    .entry
      %h2 Akademickie Stowarzyszenie Informatyczne
      %p
        Jesteśmy organizacją studencką działającą na Politechnice Wrocławskiej,
        skupiającą pasjonatów informatyki.
        Nasza działalność opiera się głównie na organizacji i prowadzeniu wykładów, konferencji, warsztatów
        i innych metodach szerzenia wiedzy.
      %p Jednym z naszych projektów jest właśnie Linux Academy. 
      %p
        Po więcej informacji zapraszamy na
        %a{:href => 'http://www.asi.pwr.wroc.pl'} www.asi.pwr.wroc.pl
        = '.'

.row
  .span2
    %img.round{:src => '/photos/siewca.jpg'}
  .span8
    .entry
      %h3 Jakub Juszczakiewicz
      %p.description
        Członek ASI. Zapalony programista i entuzjasta systemów GNU/Linux. Zainteresowany m.in. tematyką kryptologii, sieci i masowego przetwarzania danych.

.row
  .span2
    %img.round{:src => '/photos/cichy.jpg'}
  .span8
    .entry
      %h3 Patryk Cichy
      %p.description
        Członek ASI. Chwile, których nie poświęca na zgłębianiu tajników swojego systemu przeznacza na relaksujące programowanie. Jego motto brzmi: Zawsze się zastanawiam czy nie ma wyników dla mojego zapytania czy też źle wpisałem regexpa.
