.row
  .span10
    .entry
      %h2 Akademickie Stowarzyszenie Informatyczne
      %p
        Jesteśmy organizacją studencką działającą na Politechnice Wrocławskiej,
        skupiającą pasjonatów informatyki.
        Nasza działalność opiera się głównie na organizacji i prowadzeniu wykładów, konferencji, warsztatów
        i innych metodach szerzenia wiedzy.
      %p Jednym z naszych projektów jest właśnie Linux Academy. 
      %p
        Po więcej informacji zapraszamy na
        %a{:href => 'http://www.asi.pwr.wroc.pl'} www.asi.pwr.wroc.pl
        = '.'

.row
  .span8
    .entry
      %h2 Siewcuś
      Siewca w sumie nie ma wiele wspólnego z Linux Academy, ale wrzuciłem go tu,
      bo jego zdjęcie było pierwsze na stronie ASI.
  .span2
    %img.round{:src => '/images/siewca.jpg', :alt => 'zdjęcie siewcy'}
