.row
    .span10
        .entry
            %h1 Kontakt
            Koordynator projektu (Błażej Święcicki): linuxacademy (na) mewp (kropka) pl
            %br
            Akademickie Stowarzyszenie informatyczne: asi (na) asi (kropka) pwr.wroc.pl
