.row
    .span10
        .entry
            %h1 Kontakt
            Koordynator projektu (Błażej Święcicki): linuxacademy (na) mewp (kropka) pl
            %br
            Akademickie Stowarzyszenie informatyczne: asi (na) asi (kropka) pwr.wroc.pl
            %br
            Dane do kontaktu z poszczególnymi prelegentami w dziale <a href='/o_nas'>o nas</a>.
